@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: #333;
    color: white;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.section, .article{
    margin: 2rem;
}

.padding {
    padding: 1rem;
}

.mt {
    margin-top: 1rem;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #333;
    color: #fff;
}

